/* Individual comment */
.comment {
    /*  */
}

.comment-name {
    /* Text Styling */
    font-size: 0.85rem;
    font-weight: 600;
    color: rgb(85, 85, 85);

    /* Display */
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.comment-time {
    /* Text Styling */
    font-size: 0.65rem;
    font-weight: initial;
}

.comment-text {
    /* Text Styling */
    font-size: 0.84rem;
}